extends ../layout

block content
    h1=title
    ul
        each items in dinner
            div.card.menu
                img.card-img-top(src=items.imagePath)
                div.card-body
                    h5.card-title=items.name
                    div.icons
                        i.fas.fa-utensils=' - '+items.servingSize
                        a.fav(href='/users/add-to-favorites/' + items._id)
                            i.far.fa-heart
                    div.price-add.clearfix
                        button.disabled.float-left
                            p.card-text.price='$' + items.price + '.00'
                        button.float-right
                            a(href="/add-to-cart/dinner/" + items._id) Add to cart

    script(src='javascripts/favorites.js')