extends ../layout

block content
    h1=title
    ul
        each items in lunch
            div.card.menu
                img.card-img-top(src=items.imagePath)
                div.card-body
                    h4.card-title=items.name
                    div.icons
                        i.fas.fa-utensils=' - '+items.servingSize
                        i.far.fa-heart
                    div.price-add
                        p.card-text.price='$'+items.price+'.00'
                        button(style="float:right") Add to cart
        div.redirect
            a(href='/users/order') Chose another menu