extends ../layout

block content
    h1=title
    h2=message
    ul
        each item in favorites
            div.card
                div.card-header
                    h4=item._id
                div.card-body
                    img(src=item.imagePath)
                    h4.card-text=item.name
                div.card-footer
                    h3="$"+item.price+".00"
                    a(href='/users/remove-breakfast-from-favorites/'+item._id) Remove from favorites