extends layout

block content
    div.container
        h2=title

        ul
            each menuItem in items
                div.wrapper
                    each item,i in menuItem
                        div.card
                            img.card-img-top.img-fluid(src=item.imagePath)
                            div.card-body
                                h5.card-title=item.name
                                p.card-text=item.description
                                p.card-text=item.readyTime+" minutes"
                                p.card-text=item.servingSize+" person"
                                p.card-text="$"+item.price+".00"
                                a.btn.btn-success(href="#") Add to cart